<!DOCTYPE html>
<html lang="en">
<head th:replace="layouts/fragmentos :: cabecera">
</head>
<body>
    <h1>Vista del Panel</h1>
    <!-- Inicio barra superior-->
    <nav th:replace="layouts/fragmentos :: navbar" ></nav>
    <!-- termino barra superior-->

    <div id="layoutPanel">
        <div th:replace="layouts/fragmentos :: menuIzquierdo"></div>
        <div id="layoutContenido" >
            <div class="container mt-3">
                <div class="card">
                    <div class="card-header">
                      REGISTAR Cursos
                    </div>
                    <div class="card-body">
                      <div class="row">
                        <div class="col-md-6 mb-3">
                            <label>Nombre de la Curso</label>
                            <input type="text" class="form-control" placeholder="Ingrese nombre"/>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label>Des de la Curso</label>
                            <input type="text" class="form-control" placeholder="Ingrese desciposi"/>
                      </div>
                    </div>

                    <div class="row">
                        <div class="col-12 text-center">
                            
                            <button class="btn btn-dark">
                                <i class="fa-solid fa-floppy-disk"></i> Guardar curso
                            </button>
                        </div>
                    </div>

                    
                </div>

            </div>
            <footer th:replace="layouts/fragmentos :: footer">
               
            </footer>
        </div>
    </div>
    <div th:replace="layouts/fragmentos :: librerias"></div>
</body>
</html>