<!DOCTYPE html>
<html lang="en">
<head th:replace="layouts/fragmentos :: cabecera">
</head>
<body>
    <h1>Vista del Panel</h1>
    <!-- Inicio barra superior-->
    <nav th:replace="layouts/fragmentos :: navbar" ></nav>
    <!-- termino barra superior-->

    <div id="layoutPanel">
        <div th:replace="layouts/fragmentos :: menuIzquierdo"></div>
        <div id="layoutContenido" >
            <div class="container">

            </div>
            <footer th:replace="layouts/fragmentos :: footer">
               
            </footer>
        </div>
    </div>
    <div th:replace="layouts/fragmentos :: librerias"></div>
</body>
</html>